<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <substitutionProperty name="log.base" value="/data/logs/abc/"/>
    <substitutionProperty name="log.level" value="info"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="abcFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}/abc.log</File>
        <encoder>
            <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} [%file:%line] - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.base}/abc-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>100</maxHistory>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="abcFile"/>
        <appender-ref ref="stdout"/>
    </root>

</configuration>